
.active-combatant-wrapper {
    display: none!important;
}

#combat-carousel.wrapper.fixed-mode {
    top: 0!important;
}

#combat-carousel .splide__track {
    overflow: visible;
}

#combat-carousel:hover{
    background: none;
    border: none;
}

#combat-carousel .carousel-icon {
    display: none;
}

#combat-carousel .card {
    border: none;
    background: none;
    padding: 0;
}


#combat-carousel .avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 50%;
    box-shadow: 0 0 20px #000;
}

#combat-carousel .avatar::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(../ui/frames/chat-background.webp);
    background-size: contain;
    z-index: -1;
}

#combat-carousel.wrapper .container::after {
    content: "";
    position: absolute;
    width: 106%;
    height: 106%;
    left: -3%;
    top: -3%;
    background: url(../ui/frames/avatar.webp);
    background-size: contain;
    z-index: 30;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
#combat-carousel .card.is-active .container::after {
    content: "";
    position: absolute;
    width: 106%;
    height: 106%;
    left: -3%;
    top: -3%;
    background: url(../ui/frames/avatar_red.webp);
    background-size: contain;
    z-index: 25;
}

#combat-carousel .card.is-active::after {
    content: "";
    position: absolute;
    background: url(../ui/frames/extra.webp);
    background-size: 100% 100%;
    z-index: 11;
}

#combat-carousel.wrapper.lg .card.is-active::after{
    width: 176px;
    height: 188px;
    left: -37px;
    top: -41px;
}
#combat-carousel.wrapper.med .card.is-active::after{
    width: 156px;
    height: 163px;
    left: -39px;
    top: -38px;
}
#combat-carousel.wrapper.sm .card.is-active::after{
    width: 122px;
    height: 123px;
    left: -31px;
    top: -26px;
}
#combat-carousel.wrapper.xs .card.is-active::after{
    width: 75px;
    height: 79px;
    left: -16px;
    top: -18px;
}

#combat-carousel.wrapper.lg .container {
    margin: 5px;
}
#combat-carousel.wrapper.med .container {
    margin: 4px;
}
#combat-carousel.wrapper.sm .container {
    margin: 4px;
}
#combat-carousel.wrapper.xs .container {
    margin: 2px;
}

#combat-carousel.wrapper.lg .avatar,
#combat-carousel.wrapper.lg .container{
    width: 110px;
    height: 110px;
}
#combat-carousel.wrapper.med .avatar,
#combat-carousel.wrapper.med .container{
    width: 92px;
    height: 92px;
}
#combat-carousel.wrapper.sm .avatar,
#combat-carousel.wrapper.sm .container{
    width: 72px;
    height: 72px;
}
#combat-carousel.wrapper.xs .avatar,
#combat-carousel.wrapper.xs .container{
    width: 46px;
    height: 46px;
}

#combat-carousel .container::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 106%;
    left: -10%;
    top: -1%;
    background: url(../ui/bg/health_bg.webp);
    background-size: 100% 100%;
    z-index: -1;
}

#combat-carousel .card.is-active {
    margin: 30px 16px 0 16px;
    transform: scale(1.1);
}

#combat-carousel .splide__slide:hover:not(.combat-round) {
    margin: 30px 16px 0 16px;
    transform: scale(1.1);
}

#combat-carousel .initiative {
    position: absolute;
    right: -1px;
    bottom: -7px;
    background: url(../ui/frames/value.webp);
    width: 38px;
    height: 38px;
    background-size: contain;
    text-align: center;
    z-index: 999;
}

#combat-carousel .card.is-active .initiative {
    position: absolute;
    right: -1px;
    bottom: -7px;
    background: url(../ui/frames/value_red.webp);
    width: 38px;
    height: 38px;
    background-size: contain;
    text-align: center;
    z-index: 999;
}

#combat-carousel .initiative .roll-init{
    position: relative;
    top: 2px;
    left: 2px;
    overflow: hidden;
    width: 17px;
}

#combat-carousel .initiative input{
    position: relative;
    top: 3px;
    color: var(--main-text-light-color)!important;
}

#combat-carousel .initiative .roll-init .initiative-icon{
    display: none;
}

#combat-carousel .combat-controls a {
    background: none;
    border: none;

    color: #98968a;
}

#combat-carousel .combat-controls a i{
    z-index: 2;
}

#combat-carousel .combat-controls a::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    background: url(../ui/frames/value.webp);
    background-size: 100% 100%;
    z-index: 1;
}
 /*
#combat-carousel .combat-controls a.turn {
   top: calc(48% + 10px);
}

#combat-carousel .combat-controls a.round {
    top: calc(0% + 45px);
}*/

#combat-carousel .encounter-info {
    background: none;
    border: none;
    color: #98968a;
}

#combat-carousel .encounter-info > div {
    z-index: 3;
}

#combat-carousel .encounter-info::before {
    content: "";
    position: absolute;
    width: 180%;
    height: 140%;
    left: -35%;
    top: -20%;
    background: url(../ui/bg/health_bg.webp);
    background-size: 100% 100%;
    z-index: -1;
}

#combat-carousel .encounter-controls {
    background: none;
    border: none;
    color: #98968a;

    left: -17px;

    width: 65px;
    height: 50px;
}
#combat-carousel .encounter-controls::before {
    content: "";
    position: absolute;
    width: 140%;
    height: 120%;
    left: -21%;
    top: -12%;
    background: url(../ui/bg/health_bg.webp);
    background-size: 100% 100%;
    z-index: -1;
 }

#combat-carousel .encounter-controls .encounter-control {
    flex: 0 0 25%;
}

#combat-carousel .drag-handle {
    left: 7px;
    font-size: 1.3rem;
}

#combat-carousel .drag-handle::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 39px;
    left: -10px;
    top: -8px;
    background: url(../ui/frames/value.webp);
    background-size: 100% 100%;
    z-index: -1;
}

#combat-carousel meter {
    width: 86%;
    margin-left: 7%;
    position: relative;
}

#combat-carousel .effects {
    height: 100%;
    justify-content: center;

    bottom: auto;
    top: 0;
    z-index: 90;
    flex-flow: column;
    left: -7px;
}

#combat-carousel .effect {
    position: relative;
    margin: 2px;
    background: none;
}
#combat-carousel .effect::after {
    position: absolute;
    content: "";
    left: -2px;
    top: -2px;
    width: 130%;
    height: 130%;
    background: url(../ui/bg/orb.webp);
    background-size: 100% 100%;
    z-index: -1;
}

#combat-carousel .splide__slide:hover .name {
    background: none;
    border: none;
}

#combat-carousel .container .tracker-indicators:has(i.fa-skull) {
    display: none;
}

.tracker-indicators {
    display: none;
}

#controls li[data-control="combat-carousel"] img {
    opacity: 0;
}

#controls li[data-control="combat-carousel"]::before{
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    left: 3px;
    top: 3px;

    background-color: white;
    -webkit-mask: url("/modules/combat-carousel/icons/combat-carousel-solid2.svg") no-repeat center;
    mask: url("/modules/combat-carousel/icons/combat-carousel-solid2.svg") no-repeat center;
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:0.7;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0.7;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity:0.7;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0.7;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:0.7;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0.7;
    }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:0.7;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0.7;
    }
}